* {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  color: #807e78; }

.negrita {
  font-weight: bolder;
  font-size: bolder;
  text-align: bolder; }

.grande {
  font-weight: 20px;
  font-size: 20px;
  text-align: 20px; }

.centro {
  font-weight: center;
  font-size: center;
  text-align: center; }

.header__h1 {
  font-size: 60px;
  text-decoration: none;
  border: solid 10px #f3f0d7;
  background-color: #f3f0d7;
  font-weight: lighter; }

.header__h1 a {
  text-decoration: none; }

.header__h1 a:hover {
  color: #cee5d0; }

.header__ul {
  list-style-type: none; }

.header__ul li {
  display: inline-block;
  position: relative;
  padding: 20px;
  font-size: 16px; }

.header__ul li a {
  text-decoration: none;
  padding: 20px; }

.header__ul--submenu {
  position: absolute;
  display: none; }

.header__ul--submenu li {
  display: block;
  background-color: wheat;
  text-align: left;
  z-index: 1; }

.header__ul li:hover ul {
  display: flex;
  flex-direction: column;
  margin-top: 20px; }

.header__nav {
  background-color: wheat;
  text-align: end; }

.main__h2 {
  font-size: 50px;
  margin-bottom: 155px;
  margin-top: 155px;
  color: white;
  display: inline-block;
  justify-content: center;
  padding: 10px;
  text-shadow: 2px 2px 4px #000000; }

.main__h3 {
  font-size: 25px;
  padding: 15px;
  text-align: center;
  background-color: wheat;
  font-weight: lighter; }

.header__ul li :hover {
  font-weight: bolder;
  background-color: #cee5d0; }

.foto {
  width: 100%; }

.footer {
  border: solid 30px #f3f0d7;
  background-color: #f3f0d7; }

.mainPages__h2 {
  border: solid 20px #f3f0d7;
  font-size: 30px; }

.main__section {
  padding: 20px; }

.main__div {
  padding: 20px; }

.footer__div {
  padding: 5px; }

.main__div--box {
  background-color: wheat;
  color: white;
  font-weight: bold;
  width: 250px;
  padding-top: 10px;
  padding-bottom: 10px;
  display: inline-block;
  margin-right: 50px;
  margin-top: 100px;
  border: solid 2px #f7d69b;
  border-radius: 50px;
  position: relative;
  left: 25%;
  text-align: center;
  font-size: 15px;
  text-decoration: none; }

.main__div--box a {
  text-decoration: none; }

.main {
  background-color: #f3f0d7; }

.main__div--presentacion {
  display: inline-block;
  padding: 10px; }

.main__p {
  padding: 20px;
  display: inline-block;
  width: 600px;
  height: 30px; }

.main__section--bubble {
  display: inline-block;
  background-color: wheat;
  border: solid 30px wheat;
  border-radius: 30px;
  width: 500px;
  display: inline-block;
  margin: 50px;
  margin-top: 80px;
  padding: 10px; }

.main__section--grilla {
  background-color: wheat;
  border: solid 30px wheat;
  border-radius: 30px;
  width: 850px;
  height: 450px;
  padding: 10px;
  margin: 20px; }

.main__section--index {
  background-image: url(../images/comida.png);
  background-size: 100%; }

.section__img {
  width: 400px;
  border-radius: 15%; }

/* GRILLA DE INDEX */
.section--grilla {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas: "section__div--item1 section__div--item2" "section__div--item3 section__div--item4"; }

.section__div--item1 {
  grid-area: section__div--item1;
  display: flex;
  flex-direction: column;
  margin: 50px;
  margin: 50px;
  align-items: center; }

.section__div--item2 {
  grid-area: section__div--item2;
  display: flex;
  flex-direction: column;
  margin: 50px;
  align-items: center; }

.section__div--item3 {
  grid-area: section__div--item3;
  display: flex;
  flex-direction: column;
  margin: 50px;
  margin: 50px;
  align-items: center; }

.section__div--item4 {
  grid-area: section__div--item4;
  display: flex;
  flex-direction: column;
  margin: 50px;
  margin: 50px;
  align-items: center; }

.section__p {
  font-size: 25px;
  margin: 10px;
  font-weight: bold; }

.section__img:hover {
  transform: scale(1.25); }

/* RESPONSIVE */
@media (max-width: 1024px) {
  .section--grilla {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas: "section__div--item1" "section__div--item2" "section__div--item3" "section__div--item4"; }
  .section__img {
    width: 300px; } }

/* GRILLA DE PAGINA "COMO FUNCIONA" */
.main__grilla--CF {
  display: grid;
  grid-template-columns: 20% 25% 10% 25% 20%;
  grid-template-rows: 5, 100vh;
  gap: 0px 0px;
  grid-template-areas: "main__div--bubbleCom main__div--bubbleCom main__div--bubbleCom main__div--bubbleCom ." ". main__div--descarga . . ." ". . . main__div--elegi ." ". main__div--compra . . ." ". . . main__div--retira ."; }

.main__div--bubbleCom {
  grid-area: main__div--bubbleCom; }

.main__div--descarga {
  grid-area: main__div--descarga;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #cee5d0;
  border-radius: 10%;
  padding: 40px; }

.main__div--elegi {
  grid-area: main__div--elegi;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #cee5d0;
  border-radius: 10%;
  padding: 40px; }

.main__div--compra {
  grid-area: main__div--compra;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #cee5d0;
  border-radius: 10%;
  padding: 40px; }

.main__div--retira {
  grid-area: main__div--retira;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #cee5d0;
  border-radius: 10%;
  padding: 40px; }

.main__p--items {
  padding: 10px; }

.main__div--logos {
  display: flex;
  flex-direction: row; }

.main__logos {
  width: 30px;
  margin: 15px; }

.margen {
  margin-bottom: 0px; }

.color {
  color: #807e78; }

.fondo {
  background-color: wheat;
  padding: 20px;
  font-size: 20px;
  margin-top: 20px; }

.main__h2--pages {
  font-weight: bold; }

.header__ul li :hover {
  font-weight: bolder;
  color: #807e78; }

.header__ul li:hover ul {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  padding-left: 0; }

@media (max-width: 600px) {
  .main__grilla--CF {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    gap: 15px 15px;
    grid-template-areas: "main__div--bubbleCom" "main__div--descarga" "main__div--elegi" "main__div--compra" "main__div--retira"; }
  .main__div--bubbleCom {
    width: 250px; }
  .main__p {
    width: 250px; }
  .main__div--descarga {
    margin: 30px; }
  .main__div--elegi {
    margin: 30px; }
  .main__div--compra {
    margin: 30px; }
  .main__div--retira {
    margin: 30px; } }

.main__div--filosofia {
  font-size: 35px;
  padding-bottom: 20px; }

.main__div--video {
  display: inline-block;
  position: relative;
  text-align: center;
  margin: 50px; }

.main__video {
  width: 560px;
  height: 315px; }

@media (max-width: 960px) {
  .main__section--bubble {
    width: 200px; }
  .main__video {
    width: 250px;
    height: 315px; } }

.main__cara {
  display: inline-block;
  width: 250px;
  border: solid 2px wheat;
  border-radius: 150px; }

.main__p--QS {
  padding: 20px;
  display: inline-block;
  width: 500px; }

.main__h2--pagesQS {
  font-size: 35px;
  padding-bottom: 20px; }

/* GRILLA DE QUIEN SOY */
.main__section--grilla {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 15px 0px;
  grid-template-areas: "main__h2--pagesQS main__h2--pagesQS ." "main__p--QS main__p--QS main__cara" "main__p--QS main__p--QS main__cara" "main__p--QS main__p--QS ." "main__p--QS main__p--QS ." "main__p--QS main__p--QS ."; }

.main__h2--pagesQS {
  grid-area: main__h2--pagesQS; }

.main__p--QS {
  grid-area: main__p--QS; }

.main__cara {
  grid-area: main__cara; }

@media (max-width: 960px) {
  .main__section--grilla {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 15px 0px;
    width: 250px;
    height: 700px;
    grid-template-areas: "main__h2--pagesQS main__h2--pagesQS" "main__cara main__cara" "main__cara main__cara" "main__cara main__cara" "main__cara main__cara" "main__p--QS main__p--QS"; }
  .main__h2--pagesQS {
    grid-area: main__h2--pagesQS; }
  .main__cara {
    grid-area: main__cara;
    width: 175px; }
  .main__p--QS {
    grid-area: main__p--QS;
    width: 250px; } }

.main__h3--soycomercio {
  padding: 20px;
  font-weight: lighter; }

.main__section--bubbleCom {
  display: inline-block;
  background-color: wheat;
  border: solid 30px wheat;
  border-radius: 30px;
  width: 700px;
  margin: 50px;
  padding: 10px; }

.main__div--bubbleCom {
  display: inline-block;
  background-color: wheat;
  border: solid 30px wheat;
  border-radius: 30px;
  width: 625px;
  margin: 30px;
  padding: 10px; }

@media (max-width: 960px) {
  .main__section--bubbleCom {
    width: 200px; }
  .main__p {
    width: 200px; } }

.main__p--valores {
  display: inline-block;
  width: 600px;
  height: 30px; }
