*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    color: rgb(128, 126, 120);
}

// VARIABLES
@import './variables/utilidades';

// SECCIONES
@import './secciones/index';
@import './secciones/comofunciona';
@import './secciones/filosofia';
@import './secciones/quiensoy';
@import './secciones/soycomercio';
@import './secciones/sustentabilidad';
@import './secciones/valores';