.main__h3--soycomercio{
    padding: 20px;
    font-weight: lighter;
}


.main__section--bubbleCom{
    display: block;
    background-color: wheat;
    border: solid 30px wheat;
    border-radius: 30px;
    width: 700px;
    margin-top: 60px;
    padding: 10px;
    margin: 0 auto;
    align-content: center;

}


.negrita{
    font-weight: bold;
}

.formulario{
    width: 600px;
    background-color: $verde-claro;
    padding: 15px;
    border-radius: 5%;
    margin: 0 auto;
}

// RESPONSIVE

@media (max-width:960px){
    .main__section--bubbleCom{
        width: 200px;
    }

    .main__p{
        width: 200px;
    }

    .formulario{
        width: 350px;
    }
}
